.h2 {
    text-align: center;
    color: #0f5f5c;
    margin: 0 0 10px;
    font-size: 32px;
    font-family: $Roboto;
    font-weight: 300;

}

.text-holder {
    text-align: center;
    color: #83a7a5;
}