@import "sass/base";

.primary-section {
    margin-top: -87px;
    padding: 287px 0 200px;
    position: relative;
    background: url(/img/primary-bg.png) no-repeat 50% 50%;
    background-size: cover;
    color: $white;
    box-shadow: inset 0px 150px 60px -25px rgba(0, 0, 0, 0.4);
}

.primary {

    &-wrapper {
        .btn.primary-btn {
            background-color: #6fb048;
            font-weight: 500;

            &:hover {
                background-color: #649e43;
            }
        }
    }

    &-title {
        font-size: 38px;
        font-weight: 500;
        padding: 0 0 15px;
    }

    &-subtitle {
        font-size: 16px;
        font-weight: 500;
        padding: 0 0 20px;
        max-width: 515px;
        line-height: 1.5;
    }

}