@import "sass/base";

.review-section {
    padding: 135px 0;

    @include media("<1024px") {
        padding: 50px 0;
    }
}

.review-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $Roboto;

    @include media("<1024px") {
        justify-content: center;
    }

    @include media("<768px") {
        flex-direction: column;
    }

    .col-1 {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 0 20px 0 0;

        @include media("<768px") {
            padding: 0 0 20px;
            width: 300px;
            text-align: center;
        }

        .review-text {
            font-family: $Merriweather;
            font-size: 22px;
            color: #83a7a5;
            line-height: 2;

            @include media("<768px") {
                font-size: 18px;
            }
        }

        .review-author {
            font-weight: 500;
            color: #6fb048;
        }

        .review-role {
            font-weight: 400;
        }
    }

    .col-2 {
        img {
            @include media("<1024px") {
                width: 300px;
            }
        }
    }
}